/* 
   TrustCo Landing Page Styles
   This file contains the styles for the landing page.
  
   Mobile-First Approach:  
- The styles are optimized for smaller screens first.  
- Media queries are used to enhance styles for larger screens.  
- The layout is responsive, ensuring a smooth user experience.   */
/* Global Reset and Box Sizing */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color Variables */
:root {
  /* Primary Colors */
  --primary: #043A53;

  /* Secondary Colors */

  /* Accent Colors */
  --accent: #787878;
  --accent-muted: #92A7B0;
  --accent-secondary: #F0B73F
    /* Text Colors */
    --text-primary: #12141D;
  --text-secondary: #043A53;
  --text-light: #ffffff;
  --text-link: #6439FF;

  /* Background Colors */
  --bg-light: #ffffff;
  --bg-secondary: #F2F5F6;

  /* Border Colors */
  --border-primary: #91A7B0;

  /* Base spacing unit */
  --spacing-unit: 8px;
}

/* Base Font and Typography */
body {
  font-family: lato;
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-primary);
  background-color: var(--bg-light);
}

/* Typography Scale */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: calc(var(--spacing-unit) * 2);
  font-weight: 700;
  line-height: 1.2;
  color: var(--text-primary);
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

/* Paragraphs */
p {
  margin-bottom: calc(var(--spacing-unit) * 2);
  color: var(--text-secondary);
}

/* Links */
a {
  font-family: "Poppins", sans-serif;
  color: #6439ff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  text-decoration: none;
}

/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 calc(var(--spacing-unit) * 2);
}

/* Spacing */
section {
  margin-bottom: calc(var(--spacing-unit) * 4);
}

/* Header and Footer Common Styles */
header,
footer {
  padding: calc(var(--spacing-unit) * 3) 0;
}

/* Hero Section */
.hero-section {
  background-color: var(--bg-secondary);
  display: block;
  overflow: hidden;
}

.hero-wrapper {
  padding: calc(var(--spacing-unit) * 5) calc(var(--spacing-unit) * 3) calc(var(--spacing-unit) * 5) calc(var(--spacing-unit) * 3);
}

/* Hero Content */
.hero-content {
  text-align: center;
}

.hero-content h1 {
  margin-bottom: calc(var(--spacing-unit) * 2);
  color: var(--text-primary);
  font-size: 36px;
}

.hero-content .highlight {
  color: var(--text-secondary);
}

.hero-content .subheadline {
  margin-bottom: calc(var(--spacing-unit) * 4);;
  color: var(--text-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
}
.get-started-btn,
.check-video-btn
{
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto;
}

.get-started-btn
{
  background-color: var(--primary);
  box-shadow: 0px 23px 47px 0px rgba(4, 58, 83, 0.24);
  border: none;
  color: var(--text-light);
  width: fit-content;
  padding: 16px 24px;
  border-radius: 55px;
  margin-bottom: 32px;
}

.check-video-btn
{
  color: var(--text-secondary);
  width: fit-content;
  padding: 20px 24px;
  margin-bottom: 60px;
}

.play-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--primary);
  color: var(--text-light);
  margin-right: 16px;
}

.hero-img-wrapper {
  display: flex;
  justify-content: center;
}

.hero-img-right {
  position: relative;
  top: 33px;
}

